Package: com.i0sa.grabberapp8
Name: GrabberApp8
Depends: firmware (>= 9.0), mobilesubstrate, applist, preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Change camera grabber app
Maintainer: Osama Muhammed <me@i0sa.com>
Author: i0sa
dev: Osama Muhammed
Homepage: http://i0sa.com
Section: Tweaks
